p {
  color: #ffdf12;
  text-align: center;
}

.marked {
  background-color: red;
}

.new_marked {
  background-color: #37b552;
}

.marked p {
  color: white;
}

.new_marked p {
  color: grey;
}